<ion-content [fullscreen]="true">
    <ion-grid>
      @for (article of articles; track article.url;let i = $index) {
        @if (i % 2 === 0) {
      <ion-row>
        
        <ion-col size="12" size-md="6">
          <app-card [imgSrc]="article.urlToImage" [title]="article.title"[text]=" articles[i].description">
          </app-card>
        </ion-col>
        
        @if (articles[i + 1]) {
          <ion-col size="12" size-md="6">
            <app-card [imgSrc]="articles[i + 1].urlToImage" [title]="articles[i + 1].title" [text]="articles[i + 1].description">
            </app-card>
          </ion-col>
        }
      </ion-row>
    }
      }
  </ion-grid>
</ion-content>
